# Possible notebook with examples for future notebooks

In [2]:
# Load libraries
import pandas as pd
import pandas_ta as pta
import talib.abstract as ta
from pandas import DataFrame
import numpy as np
import mplfinance as mpf

## Create a cursor to connect to the database

In [8]:
# Create readonly database connection and cursor
import sqlite3
conn = sqlite3.connect('file:../data/BTCUSDT.db?mode=ro', uri=True)
curs = conn.cursor()

## Do some database stuff

In [11]:
# Get all tables listed in the sqlite_master database
curs.execute("SELECT name FROM sqlite_master WHERE type = 'table'").fetchall()

[('_1d',), ('_4h',)]

In [12]:
# Access the tables one by one
for row in curs.execute("SELECT name FROM sqlite_master WHERE type = 'table'"):
    print(row)

('_1d',)
('_4h',)

In [14]:
# Show the columns in a particular table
for row in curs.execute("PRAGMA table_info(_1d)"):
    print(row)

(0, 'openTime', 'integer', 0, None, 1)
(1, 'open', 'integer', 0, None, 0)
(2, 'high', 'real', 0, None, 0)
(3, 'low', 'real', 0, None, 0)
(4, 'close', 'real', 0, None, 0)
(5, 'volume', 'integer', 0, None, 0)
(6, 'closeTime', 'integer', 0, None, 0)
(7, 'quoteAssetVolume', 'integer', 0, None, 0)
(8, 'numberOfTrades', 'integer', 0, None, 0)
(9, 'takerBuyBaseAssetVolume', 'integer', 0, None, 0)
(10, 'takerBuyQuoteAssetVolume', 'integer', 0, None, 0)
(11, 'ignore', 'text', 0, None, 0)
(12, 'dow', 'text', 0, None, 0)
(13, 'color', 'text', 0, None, 0)
(14, 'humandate', 'integer', 0, None, 0)

In [15]:
curs.execute("PRAGMA table_info(_1d)").description

(('cid', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('type', None, None, None, None, None, None),
 ('notnull', None, None, None, None, None, None),
 ('dflt_value', None, None, None, None, None, None),
 ('pk', None, None, None, None, None, None))

## Create a dataframe from the database

In [32]:
# Connect to the database, create dataframe from the database and then commot and close the connection
conn = sqlite3.connect('file:../data/BTCUSDT.db?mode=ro', uri=True)
df=pd.read_sql_query("SELECT * FROM _1d", conn)
conn.commit()
conn.close()

In [33]:
df

,openTime,open,high,low,close,volume,closeTime,quoteAssetVolume,numberOfTrades,takerBuyBaseAssetVolume,takerBuyQuoteAssetVolume,ignore,dow,color,humandate
0,1567814400,10298.71,10558.00,10288.57,10455.88,27637.877392,1567900799,2.878511e+08,272011,14673.489216,1.528259e+08,0,Saturday,Green,20190907
1,1567900800,10455.90,10592.50,10208.00,10381.18,23984.672018,1567987199,2.499010e+08,237752,10588.592458,1.103700e+08,0,Sunday,Red,20190908
2,1567987200,10381.24,10480.00,10068.50,10303.12,39835.727608,1568073599,4.097248e+08,330459,18729.472684,1.928147e+08,0,Monday,Red,20190909
3,1568073600,10302.58,10384.99,9953.00,10098.15,28915.412225,1568159999,2.943238e+08,286763,13432.256822,1.368764e+08,0,Tuesday,Red,20190910
4,1568160000,10098.19,10293.00,9880.00,10158.33,31953.824562,1568246399,3.216371e+08,309120,16583.813097,1.670861e+08,0,Wednesday,Green,20190911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,1653696000,28629.81,29266.00,28450.00,29031.33,34479.351270,1653782399,9.946743e+08,684423,17561.214650,5.066333e+08,0,Saturday,Green,20220528
995,1653782400,29031.33,29587.78,28839.21,29468.10,27567.347640,1653868799,8.047775e+08,635311,13735.425810,4.010567e+08,0,Sunday,Green,20220529
996,1653868800,29468.10,32222.00,29299.62,31734.22,96785.947600,1653955199,2.980528e+09,1380410,45024.456330,1.384941e+09,0,Monday,Green,20220530
997,1653955200,31734.23,32399.00,31200.01,31801.04,62433.116320,1654041599,1.981259e+09,1161340,30046.955110,9.535746e+08,0,Tuesday,Green,20220531
998,1654041600,31801.05,31982.97,29301.00,29805.83,103395.633820,1654127999,3.171191e+09,1404611,47614.812050,1.460767e+09,0,Wednesday,Red,20220601

In [39]:
# Another, easier, way to read a table into a dataframe
import pandas as pd
dataframe = pd.read_sql_table('_1d', 'sqlite:///../data/BTCUSDT.db')
dataframe

,openTime,open,high,low,close,volume,closeTime,quoteAssetVolume,numberOfTrades,takerBuyBaseAssetVolume,takerBuyQuoteAssetVolume,ignore,dow,color,humandate
0,1567814400,10298,10558.00,10288.57,10455.88,27637,1567900799,287851131,272011,14673,152825898,0,Saturday,Green,20190907
1,1567900800,10455,10592.50,10208.00,10381.18,23984,1567987199,249900964,237752,10588,110370036,0,Sunday,Red,20190908
2,1567987200,10381,10480.00,10068.50,10303.12,39835,1568073599,409724831,330459,18729,192814736,0,Monday,Red,20190909
3,1568073600,10302,10384.99,9953.00,10098.15,28915,1568159999,294323839,286763,13432,136876441,0,Tuesday,Red,20190910
4,1568160000,10098,10293.00,9880.00,10158.33,31953,1568246399,321637085,309120,16583,167086058,0,Wednesday,Green,20190911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,1653696000,28629,29266.00,28450.00,29031.33,34479,1653782399,994674257,684423,17561,506633343,0,Saturday,Green,20220528
995,1653782400,29031,29587.78,28839.21,29468.10,27567,1653868799,804777532,635311,13735,401056725,0,Sunday,Green,20220529
996,1653868800,29468,32222.00,29299.62,31734.22,96785,1653955199,2980527582,1380410,45024,1384940691,0,Monday,Green,20220530
997,1653955200,31734,32399.00,31200.01,31801.04,62433,1654041599,1981259117,1161340,30046,953574564,0,Tuesday,Green,20220531
998,1654041600,31801,31982.97,29301.00,29805.83,103395,1654127999,3171191028,1404611,47614,1460767260,0,Wednesday,Red,20220601

## Create dataframe from last X rows from the database

In [95]:
latest = sqlite3.connect('file:../data/BTCUSDT.db?mode=ro', uri=True)
df_latest=pd.read_sql_query("SELECT * FROM _1d ORDER BY openTime DESC LIMIT 10", latest)
conn.close()
df_latest

,openTime,open,high,low,close,volume,closeTime,quoteAssetVolume,numberOfTrades,takerBuyBaseAssetVolume,takerBuyQuoteAssetVolume,ignore,dow,color,humandate
0,1654041600,31801.05,31982.97,29301.00,29805.83,103395.63382,1654127999,3.171191e+09,1404611,47614.81205,1.460767e+09,0,Wednesday,Red,20220601
1,1653955200,31734.23,32399.00,31200.01,31801.04,62433.11632,1654041599,1.981259e+09,1161340,30046.95511,9.535746e+08,0,Tuesday,Green,20220531
2,1653868800,29468.10,32222.00,29299.62,31734.22,96785.94760,1653955199,2.980528e+09,1380410,45024.45633,1.384941e+09,0,Monday,Green,20220530
3,1653782400,29031.33,29587.78,28839.21,29468.10,27567.34764,1653868799,8.047775e+08,635311,13735.42581,4.010567e+08,0,Sunday,Green,20220529
4,1653696000,28629.81,29266.00,28450.00,29031.33,34479.35127,1653782399,9.946743e+08,684423,17561.21465,5.066333e+08,0,Saturday,Green,20220528
5,1653609600,29201.35,29397.66,28282.90,28629.80,90998.52010,1653695999,2.626516e+09,1321406,43590.05398,1.258912e+09,0,Friday,Red,20220527
6,1653523200,29542.14,29886.64,28019.56,29201.35,94581.65463,1653609599,2.759055e+09,1431112,45206.85416,1.319426e+09,0,Thursday,Red,20220526
7,1653436800,29654.58,30223.74,29294.21,29542.15,59537.38659,1653523199,1.771708e+09,985440,28846.96589,8.585873e+08,0,Wednesday,Red,20220525
8,1653350400,29109.14,29845.86,28669.00,29654.58,59442.96036,1653436799,1.740258e+09,946421,29480.07674,8.635167e+08,0,Tuesday,Green,20220524
9,1653264000,30293.93,30670.51,28866.35,29109.15,63901.49932,1653350399,1.914306e+09,1328317,30476.66811,9.138140e+08,0,Monday,Red,20220523

In [105]:
# Connect to database and create a dataframe from last 10 rows (Descending)
latest = sqlite3.connect('file:../data/BTCUSDT.db?mode=ro', uri=True)
df_latest=pd.read_sql_query("SELECT * FROM _1d ORDER BY openTime DESC LIMIT 10", latest)
conn.close()

# After the dataframe has been build, reorder the dates so that the last date is the last.
# First change the Unix time to human readable time
df_latest['openTime']=(pd.to_datetime(df_latest['openTime'],unit='s'))

# This line sorts the openTime ascending (but not necessary anymore with the next line)
# df_latest.sort_values(by=['openTime'], ascending=True)

# This line reorders the dataframe and rebuilds (replaces) the old dataframe (variable)
df_latest = df_latest.set_index(['openTime']).sort_values(by=['openTime'], ascending=True)

df_latest

,open,high,low,close,volume,closeTime,quoteAssetVolume,numberOfTrades,takerBuyBaseAssetVolume,takerBuyQuoteAssetVolume,ignore,dow,color,humandate
openTime,,,,,,,,,,,,,,
2022-05-23,30293.93,30670.51,28866.35,29109.15,63901.49932,1653350399,1.914306e+09,1328317,30476.66811,9.138140e+08,0,Monday,Red,20220523
2022-05-24,29109.14,29845.86,28669.00,29654.58,59442.96036,1653436799,1.740258e+09,946421,29480.07674,8.635167e+08,0,Tuesday,Green,20220524
2022-05-25,29654.58,30223.74,29294.21,29542.15,59537.38659,1653523199,1.771708e+09,985440,28846.96589,8.585873e+08,0,Wednesday,Red,20220525
2022-05-26,29542.14,29886.64,28019.56,29201.35,94581.65463,1653609599,2.759055e+09,1431112,45206.85416,1.319426e+09,0,Thursday,Red,20220526
2022-05-27,29201.35,29397.66,28282.90,28629.80,90998.52010,1653695999,2.626516e+09,1321406,43590.05398,1.258912e+09,0,Friday,Red,20220527
2022-05-28,28629.81,29266.00,28450.00,29031.33,34479.35127,1653782399,9.946743e+08,684423,17561.21465,5.066333e+08,0,Saturday,Green,20220528
2022-05-29,29031.33,29587.78,28839.21,29468.10,27567.34764,1653868799,8.047775e+08,635311,13735.42581,4.010567e+08,0,Sunday,Green,20220529
2022-05-30,29468.10,32222.00,29299.62,31734.22,96785.94760,1653955199,2.980528e+09,1380410,45024.45633,1.384941e+09,0,Monday,Green,20220530
2022-05-31,31734.23,32399.00,31200.01,31801.04,62433.11632,1654041599,1.981259e+09,1161340,30046.95511,9.535746e+08,0,Tuesday,Green,20220531
2022-06-01,31801.05,31982.97,29301.00,29805.83,103395.63382,1654127999,3.171191e+09,1404611,47614.81205,1.460767e+09,0,Wednesday,Red,20220601

In [108]:
# Check if the last dataframe still exists in good order
df_latest.tail(5)

,open,high,low,close,volume,closeTime,quoteAssetVolume,numberOfTrades,takerBuyBaseAssetVolume,takerBuyQuoteAssetVolume,ignore,dow,color,humandate
openTime,,,,,,,,,,,,,,
2022-05-28,28629.81,29266.00,28450.00,29031.33,34479.35127,1653782399,9.946743e+08,684423,17561.21465,5.066333e+08,0,Saturday,Green,20220528
2022-05-29,29031.33,29587.78,28839.21,29468.10,27567.34764,1653868799,8.047775e+08,635311,13735.42581,4.010567e+08,0,Sunday,Green,20220529
2022-05-30,29468.10,32222.00,29299.62,31734.22,96785.94760,1653955199,2.980528e+09,1380410,45024.45633,1.384941e+09,0,Monday,Green,20220530
2022-05-31,31734.23,32399.00,31200.01,31801.04,62433.11632,1654041599,1.981259e+09,1161340,30046.95511,9.535746e+08,0,Tuesday,Green,20220531
2022-06-01,31801.05,31982.97,29301.00,29805.83,103395.63382,1654127999,3.171191e+09,1404611,47614.81205,1.460767e+09,0,Wednesday,Red,20220601

## Get last row from the database and enter into dataframe

In [49]:
# Connect to the database, create dataframe from the database and then commot and close the connection
last = sqlite3.connect('file:../data/BTCUSDT.db?mode=ro', uri=True)
df_last=pd.read_sql_query("SELECT * FROM _1d ORDER BY openTime DESC LIMIT 1", last)
# conn.commit()
conn.close()
df_last

,openTime,open,high,low,close,volume,closeTime,quoteAssetVolume,numberOfTrades,takerBuyBaseAssetVolume,takerBuyQuoteAssetVolume,ignore,dow,color,humandate
0,1654041600,31801.05,31982.97,29301.0,29805.83,103395.63382,1654127999,3.171191e+09,1404611,47614.81205,1.460767e+09,0,Wednesday,Red,20220601