# Example notebook with custom R:R stoploss and takeprofit based on ATR

## With use of SQLite3 datase to create a dataframe

In [3]:
# Load libraries
import pandas as pd
import pandas_ta as pta
import talib.abstract as ta
from pandas import DataFrame
import numpy as np
import mplfinance as mpf
import sqlite3

In [20]:
# Connect to database and create a dataframe from last 999 rows (Descending)
conn = sqlite3.connect('file:../data/BTCUSDT.db?mode=ro', uri=True)
# dataframe = pd.read_sql_query("SELECT * FROM _1d ORDER BY openTime DESC LIMIT 999", conn)
dataframe = pd.read_sql_query("SELECT openTime,open,high,low,close,volume,dow,color,humandate FROM _1d ORDER BY openTime DESC LIMIT 999", conn)
conn.close()

# Create human readable time
dataframe['openTime']=(pd.to_datetime(dataframe['openTime'],unit='s'))
# Set openTime to the index, reorder the complete dataframe and add it to a new df for further analysis
df = dataframe.set_index(['openTime']).sort_values(by=['openTime'], ascending=True)

In [21]:
# Show the new df
df

,open,high,low,close,volume,dow,color,humandate
openTime,,,,,,,,
2019-09-07,10298.71,10558.00,10288.57,10455.88,27637.877392,Saturday,Green,20190907
2019-09-08,10455.90,10592.50,10208.00,10381.18,23984.672018,Sunday,Red,20190908
2019-09-09,10381.24,10480.00,10068.50,10303.12,39835.727608,Monday,Red,20190909
2019-09-10,10302.58,10384.99,9953.00,10098.15,28915.412225,Tuesday,Red,20190910
2019-09-11,10098.19,10293.00,9880.00,10158.33,31953.824562,Wednesday,Green,20190911
...,...,...,...,...,...,...,...,...
2022-05-28,28629.81,29266.00,28450.00,29031.33,34479.351270,Saturday,Green,20220528
2022-05-29,29031.33,29587.78,28839.21,29468.10,27567.347640,Sunday,Green,20220529
2022-05-30,29468.10,32222.00,29299.62,31734.22,96785.947600,Monday,Green,20220530
2022-05-31,31734.23,32399.00,31200.01,31801.04,62433.116320,Tuesday,Green,20220531
2022-06-01,31801.05,31982.97,29301.00,29805.83,103395.633820,Wednesday,Red,20220601

In [24]:
# Show latest entries
df[['open','high','low','close','volume','color']].tail(5)

                open      high       low     close        volume  color
openTime
2022-05-28  28629.81  29266.00  28450.00  29031.33   34479.35127  Green
2022-05-29  29031.33  29587.78  28839.21  29468.10   27567.34764  Green
2022-05-30  29468.10  32222.00  29299.62  31734.22   96785.94760  Green
2022-05-31  31734.23  32399.00  31200.01  31801.04   62433.11632  Green
2022-06-01  31801.05  31982.97  29301.00  29805.83  103395.63382    Red

## Creating indicators

In [15]:
# MACD indicator
macd = ta.MACD(
        df,
        fastperiod=12,
        fastmatype=0,
        slowperiod=26,
        slowmatype=0,
        signalperiod=9,
        signalmatype=0,
    )
df["macd"] = macd["macd"]
df["macdsignal"] = macd["macdsignal"]
df["macdhist"] = macd["macdhist"]

# ATR
df['atr'] = ta.ATR(df, timeperiod=14)
df[['open','high','low','close','volume','atr','macd','macdsignal','macdhist']]

,open,high,low,close,volume,atr,macd,macdsignal,macdhist
openTime,,,,,,,,,
2019-09-07,10298.71,10558.00,10288.57,10455.88,27637.877392,NaN,NaN,NaN,NaN
2019-09-08,10455.90,10592.50,10208.00,10381.18,23984.672018,NaN,NaN,NaN,NaN
2019-09-09,10381.24,10480.00,10068.50,10303.12,39835.727608,NaN,NaN,NaN,NaN
2019-09-10,10302.58,10384.99,9953.00,10098.15,28915.412225,NaN,NaN,NaN,NaN
2019-09-11,10098.19,10293.00,9880.00,10158.33,31953.824562,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2022-05-28,28629.81,29266.00,28450.00,29031.33,34479.351270,1718.629994,-1858.423138,-2137.674737,279.251599
2022-05-29,29031.33,29587.78,28839.21,29468.10,27567.347640,1649.339995,-1735.846979,-2057.309185,321.462206
2022-05-30,29468.10,32222.00,29299.62,31734.22,96785.947600,1740.271424,-1439.256689,-1933.698686,494.441997
2022-05-31,31734.23,32399.00,31200.01,31801.04,62433.116320,1701.608465,-1185.153223,-1783.989593,598.836370
2022-06-01,31801.05,31982.97,29301.00,29805.83,103395.633820,1771.634289,-1131.725343,-1653.536743,521.811400